# /etc/udev/rules.d/50-keyboard-module.rules
# This file is used to load the keyboard module when the keyboard is plugged in

ACTION=="add", SUBSYSTEM=="usb", ATTR{ID_INPUT_KEYBOARD}=="1", RUN+="/usr/sbin/insmod /home/ubuntu/Desktop/git/little-penguin-1/04/main.ko"
ACTION=="remove", SUBSYSTEM=="usb", ATTR{ID_INPUT_KEYBOARD}=="1", RUN+="/usr/sbin/rmmod /home/ubuntu/Desktop/git/little-penguin-1/04/main.ko"
